[mcu et0]
canbus_uuid: e3c9fe4e284e

#####################################################################
# 	EXTRUDER
#####################################################################

[extruder]
step_pin: et0:gpio18
dir_pin: et0:gpio19
enable_pin: !et0:gpio17
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: et0:gpio7
sensor_type: MAX31865
sensor_pin: et0:gpio9
spi_software_sclk_pin: et0:gpio10
spi_software_mosi_pin: et0:gpio8
spi_software_miso_pin: et0:gpio11
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2
gear_ratio: 50:10
rotation_distance: 22.403175
full_steps_per_rotation: 200
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
pressure_advance: 0.035

[tmc2209 extruder]
uart_pin: et0:gpio20
interpolate: false
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0

[autotune_tmc extruder]
motor: moons-cse14hra1l410a

#####################################################################
# 	FANS
#####################################################################

[multi_fan T0_partfan]
pin: et0:gpio13
kick_start_time: 0.5
off_below: 0.10

[heater_fan T0_hotend_fan]
pin: et0:gpio14
heater: extruder
heater_temp: 50.0

#####################################################################
# 	ACCELEROMETER
#####################################################################

# [mcu rpi]
# serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: et0:gpio1
spi_software_sclk_pin: et0:gpio2
spi_software_mosi_pin: et0:gpio0
spi_software_miso_pin: et0:gpio3
axes_map: z,-y,x

[resonance_tester]
accel_chip:adxl345
probe_points:
    150,150,20

#####################################################################
# 	PROBE
#####################################################################

[tool_probe T0]
pin: ^et0:gpio22
tool: 0
x_offset: 0
y_offset: 0
# z_offset: -0.948
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder

#####################################################################
# 	TOOL
#####################################################################

[gcode_macro T0]
variable_color: ""
gcode:
  SELECT_TOOL T=0

[tool T0]
tool_number: 0
extruder: extruder
params_type = 'rods_mini_hookon'
fan: multi_fan T0_partfan
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0
params_park_x: 0.0
params_park_y: -7.7
params_park_z: 349.5
params_input_shaper_type_x: 'zv'
params_input_shaper_freq_x: 46.8
params_input_shaper_damping_ratio_x: 0.01
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 34.0
params_input_shaper_damping_ratio_y: 0.01  
